*{
    margin: 0;
    padding: 0;
}
.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
}
.container {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 400px;
}
.h2 {
    margin-bottom: 20px;
    color: #333;
}
.form-group {
    margin-bottom: 20px;
}
.input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    /*cursor: pointer;*/
    margin-top: 2%;
}
.error-message {
    color: red;
    margin-top: 10px;
}
.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.separator .line {
    background-color: #ccc;
    height: 1px;
    flex-grow: 1;
    margin: 0 10px;
}
.separator .text {
    color: #555;
    font-size: 16px;
    text-transform: uppercase;
}
.contenedorBtnRegistrarse {
    margin-top: 20px;
}
.btnRegistrarse {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    text-decoration: none;
    /*cursor: pointer;*/
}
.btnRegistrarse:hover {
    background-color: #2980b9;
}
@media screen and (max-width: 768px) {
    .container {
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
        width: 400px;
    }
}