* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: rgba(81, 130, 95, 0.984);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: white;
    font-size: 35px;
    font-weight: 300;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #111;
    background: #87dca181;
}

nav .menu-btn .emoticono-barra {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.aceptar {
    display: none;
}

.imagen-logo {
    display: none;
}
.icon-blanco {
    color: white;
    font-size: 1.5em;
}
.imglogo img{
    display: none;
}

/*TAMAÑO TABLET*/
/* TAMAÑO TABLET */
/* TAMAÑO TABLET */
@media only screen and (min-width: 767px) and (max-width: 1090px) {
    .logo {
        display: none; /* Ocultar el texto del logo */
    }

    .imagen-logo {
        display: block; /* Mostrar la imagen del logo */
        position: absolute; /* Posicionar absolutamente */
        left: 20px; /* Ajustar la posición a la izquierda */
         /* Centrar verticalmente */
        transform: translateY(-50%);
    }

    .imagen-logo img {
        width: 80px; /* Ajustar el ancho de la imagen */
        height: auto; /* Mantener la proporción */
    }

    nav ul {
        display: flex;
        justify-content: center; /* Centrar horizontalmente los elementos del ul */
        width: 100%; /* Ajustar el ancho para ocupar toda la pantalla */
    }

    nav ul li {
        margin: 0 10px; /* Ajustar el margen */
    }

    nav ul li a {
        padding: 8px 12px; /* Ajustar el relleno */
    }
}


@media (max-width: 766px) {

    nav .menu-btn .emoticono-barra {
        display: block;
    }

    #click:checked~.menu-btn .emoticono-barra:before {
        content: "\f0c9";
    }

    nav .emoticono-barra.fas.fa-bars {
        margin-left: -350%;
    }
    

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        max-width: 766px;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 99;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        max-width: 766px;
        margin: 40px 0;
    }

    nav .logo {
        display: none;
    }

    nav ul li a {
        width: 100%;
        max-width: 766px;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.encuentro,
    nav ul li a:hover {
        background: none;
        color: rgb(255, 255, 255);
    }


}